.navbar-default {
    background-color: #93B5C6;
}

header {
    background-color: #D7816A;
}

hr.star-light:after {
    background-color: #D7816A;
}

section.success {
    background-color: #D7816A;
}

footer .footer-above {
    background-color: #93B5C6;
}

footer .footer-below {
    background-color: #83A4B5;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #F0CF65;
}

a, a:hover, a:focus, a:active, a.active {
    color: #BD4F6C;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: #BD4F6C;
}

#portfolio .portfolio-item .portfolio-link .caption {
    background: #D7816A;
}

.btn-primary {
    background-color: #BD4F6C;
    border-color: #BD4F6C;
}

.btn-primary:hover {
    background-color: #AC3E5B;
    border-color: #AC3E5B;
}