<section class="contact" id="about">
    <div class="container">
        <div class="row center-xs">
            <div class="col-xs-12"><h1>About</h1></div>
        </div>
        <div class="row center-xs">
            <div class="col-xs-6">
                John O'Malley - Programming<br>Kevin Tracy - Programming, Music<br>Mike Peppler - Programming, Sound
            </div>
            <div class="col-xs-6">
                Chris Reyes - Programming<br>Tom Enright - Programming<br>Jen Tracy - Art
            </div>
        </div>
    </div>
</section>
